:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --card-border-line: #eeeeee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: roboto, sans-serif;
}
a {
  text-decoration: none;
}
.section {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*шапка сайта*/

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/*logo*/
.logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

span {
  color: var(--accent-color);
}

/*шапка навигации*/
.main-nav {
  border-bottom: 1px solid #cccccc;
  box-sizing: border-box;
}
.main-nav,
.contacts-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.site-nav-list {
  display: flex;
  margin-left: 93px;
}

.site-nav-list li:not(:last-child) {
  margin-right: 45px;
}

.site-nav-list .link-current {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;

  color: var(--accent-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-list .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;

  color: #000000;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav li + li {
  margin-left: 50px;
}
.contacts-nav a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-nav a:focus,
.contacts-nav a:hover {
  color: var(--accent-color);
}

/*блок герой*/
.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--background-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  letter-spacing: 0.06em;
}
.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 0px;
  margin-bottom: 200px;

  color: var(--background-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  text-decoration: none;
}

/*секции*/
.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/*особенности*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.fetures {
  display: flex;
  justify-content: space-between;
  margin-left: -10px;
  margin-top: -10px;
}

.fetures-item:not(:last-child) {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-right: 30px;
  width: 270px;
}

.fetures .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.fetures .text {
  margin-top: 0;
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.title {
  color: var(--title-text-color);
}
/*чем мы занимаемся*/

.image {
  display: flex;
  justify-content: space-between;
}

.image-work:not(:last-child) {
  flex-basis: calc((100%-3 * 30px) / 3);
  margin-right: 30px;
  width: 370px;
}

/*наша команда*/
.our-team {
  background: #f5f4fa;
}
.team {
  display: flex;
  justify-content: space-between;
}
.team-link:not(:last-child) {
  margin-right: 30px;
  width: 270px;
}
.team-link {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .name {
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team .position {
  margin-bottom: 30px;
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Footer*/
.footer,
.footer-address {
  color: #ffffff;
  background-color: #2f303a;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-logo {
  color: #ffffff;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer-contacts-list-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-list-link:hover,
.footer-contacts-list-link:focus {
  color: var(--accent-color);
}

/*PORTFOLIO*/

/*filters*/
.filter {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}
.filter li:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border: none;
  border-radius: 4px;
  padding: 6px 32px;
  color: var(--title-text-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  text-align: center;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

/*примеры работ*/

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples-link {
  width: calc((100%-60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.examples-link:nth-of-type(3n + 1) {
  margin-left: 0;
}
.examples-link:nth-of-type(3n) {
  margin-right: 0;
}
.examples-link:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}
.examples-link > a {
  display: block;
}
.card {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.link-text {
  padding: 20px 24px;
  border-left: 1px solid var(--card-border-line);
  border-bottom: 1px solid var(--card-border-line);
  border-right: 1px solid var(--card-border-line);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.section .examples-titel:nth-child(3n) {
  margin-right: 0;
}

.section .examples-titel:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples-titel {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-type {
  margin-bottom: 20px;

  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
